@{
    ViewData["Title"] = "Home Page";
}

<div class="input-group mb-3" style="padding-top: 50px;">
    <input type="file" accept=".csv" class="form-control" id="inputGroupFile02">
    <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
